.top{
background-color: #a7f5a2;
padding-left: 10px;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 10px;
margin-right: auto;
margin-left: auto;
border: 0;
box-sizing: border-box;
line-height: 1em;
font-size: 100%;
font-family: 'Open Sans';
}
.textbox{
font-family: 'Open Sans';
font-size: 20px;
}
